#guessedLetters {
  color: lightgrey;
}

#theWord {
  font-size: 200%;
}

#gameTitle {
  font-size: 300%;
}

#container {
  text-align: center;
}


#gallows {
  display: inline-block;
  width: 16em;
  font-family: monospace;
  height: 8em;
  white-space: pre;
  text-align: left;
  font-weight: bold;
}